.bd-pageheader{
    padding: 2rem 15px;
    margin-bottom: 1.5rem;
    color: #cdbfe3;
    text-align: center;
    background-color: #563d7c;
}

    .bd-pageheader .container {
    position: relative;
}
.bd-pageheader h1 {
    font-size: 3rem;
    font-weight: normal;
    color: #fff;
}